#title {
    padding-top:20px;
    font-family: initial;
    font-size: 40px;
    color: white;
    font-weight: 300;
    display: inline; /* Add this property */


}

#name {
    font-weight: 900;
    font-size: 70px;
    color: white;
    font-family: initial;
    display: inline; /* Add this property */
    text-shadow: 0px 0px 10px 10px rgb(255, 33, 33);




}

#titleText{
    padding: 0px;
    margin: 0px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5; /* adjust the value to center the text vertically */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes openclose {
    0% {
      width: 0;
      top: 0;
    }
    10% {
      width: 50px;
    }
    15% {
      width: 100px;
    }
    30% {
      width: 150px;
    }
    33% {
      width: 200px;
    }
    35% {
      width: 250px;
    }
    48% {
      width: 300px;
    }
    62% {
      width: 350px;
    }
    66% {
      width: 400px;
    }
    71% {
      width: 500px;

    }
    86% {
      width: 600px;
    }
    95% {

        top: 0;
        width: 0;
    }

    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }