.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #162963;
  padding: 0.5rem;
  z-index: 9999;

}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #162963;
  width: 100%;
  
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
}
.navbar-left img {
  height: 25px;
}
.navbar-right {
  padding-right:20px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.git{
  border-radius: 50%;
}




.navBarText {
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  color: white;
  font-weight: 800;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
  cursor: pointer;
  margin: auto;
  font-size: 15px;
  font-weight: 300;
  transition: font-weight 250ms ease-in-out;
}

  
.navBarText:hover {
  font-weight: 900;
}



/* For screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 767px) {
  .navbar {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }
  .navbar-left, .navbar-right {
    width: 100%; /* Full width for both left and right sections */
    text-align: center; /* Center text */
  }
  .navbar-left img {
    margin-bottom: 1rem; /* Add some spacing between icons */
  }
}

